<div *ngIf="servicioDeStaff.cargando" class="box-precarga">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
    </div>
  </div>
</div>
<div class="container">
  <ul>
    <li *ngFor="let persona of servicioDeStaff.staff" >
      <persona [persona]="persona"></persona>
    </li>
  </ul>
</div>
