.container{
  margin-top: 20px;
}
li{
  display: inline-block;
  margin-left: 20px;
}

.box-precarga{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
